<ion-header>
  <ion-toolbar class="header">
    <ion-searchbar showCancelButton="focus" class="custom">
    </ion-searchbar>
    <img src="assets/icon/logo2.png" class="img-style" alt="Logo" />
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let painting of allPainting; trackBy: trackPainting" color="light">
    <ion-img [src]="painting.image"></ion-img>
    <ion-card-header>
      <ion-card-title >{{ painting.title }}</ion-card-title> 
      <div class="author-info">
        <ion-card-subtitle class="artist">by {{ painting.artistName }}</ion-card-subtitle>  
        <ion-card-subtitle class="date">{{ painting.date }}</ion-card-subtitle> 
      </div>
      <div class="like-section">
        <ion-icon  
        [name]="painting.isLiked ? 'heart' : 'heart-outline'" 
        class="like-icon"  
        [style.color]="painting.isLiked ? 'red' : 'black'" 
        (click)="toggleLike(painting)">
      </ion-icon>
      
        <ion-card-subtitle class="num" >{{ painting.like }} Like</ion-card-subtitle> 
      </div>
      <ion-button (click)="goToDetails(painting.objectID)" size="small">More Details</ion-button>
    </ion-card-header>
  </ion-card>


  <ion-toolbar class="footer-relative">
    <ion-grid>
      <ion-row class="footer-content">
        <ion-col size="12" size-md="6" class="footer-text">
          <p>Created by <br> <strong>Rahaf alharbi & Amjad saud</strong></p>
        </ion-col>
        <ion-col size="12" size-md="6" class="footer-text">
          <p>Material photo created by <a href="https://www.rawpixel.com" target="_blank">rawpixel.com</a> - <a href="https://www.freepik.com" target="_blank">www.freepik.com</a></p>
        </ion-col>
      </ion-row>
      <ion-row class="footer-icons">
        <ion-col class="footer-license">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          <ion-icon name="globe-outline"></ion-icon>
          <p>CC0 1.0 Universal (CC0 1.0) Public Domain Dedication</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

</ion-content>
