@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Merriweather:wght@700&family=Lora:wght@400&family=Roboto+Slab:wght@400&family=Montserrat:wght@600&family=Poppins:wght@600&display=swap');

img {
    position: absolute;
    top: 50px; 
    left: 50%;
    transform: translateX(-50%);
    width: 40px; 
   border-radius: 40%;
   box-shadow: 0 9px 14px rgba(0, 0, 0, 0.692); 
}


ion-content {
    --background: url('/assets/icon/bg1.jpg') center/cover no-repeat;
    position: relative;
 
}

ion-card {
   background-color: #201f1ece;
    border-radius: 10px;
    margin-top: 400px;
    margin-left: 4.5%;
    margin-right: 4.5%;
    text-align: center;
    height: 270px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}


p.title {
    font-size: 34px;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
    font-family: 'Merriweather', serif;
    color: #e7e1e1;
    font-weight: bold;

    margin-bottom: 20px;
    line-height: 1.3;
}

p.subtitle {
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
    color: #e7e1e1;
    line-height: 1.6;
   padding-left: 10px;
  padding-right: 10px;
}

ion-button {
  font-family: 'Montserrat', sans-serif;
  --background: linear-gradient(135deg, #3f1b15, #3f1b15);
  width: 210px;
  height: 50px;
  font-size: 18px;
  letter-spacing: 1.2px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  --color: rgb(20, 18, 18);
  --border-radius: 25px;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  --ripple-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

ion-button:active {
  --background: linear-gradient(135deg, #6d5252, #701515);
  --color: rgb(0, 0, 0);
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transform: scale(0.98);
}

ion-button:focus {
  --background: black;
  --color: rgb(255, 255, 255);
  --box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  outline: none;
}
