ion-toolbar.header {
    --background: #2c110d;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    transition: top 0.3s ease;
    z-index: 1000;
  }
  
  ion-button.back-button {
    --background: transparent;
    --color: white;
    font-size: 23px;
  }
  ion-icon {
    font-size: 30px;
    color: #ffffff;
    padding-bottom: 10px;
  }
  
  img { 
    position: absolute;
    left: 350px;
    top: 15px;  
  height: 40px;
  
  }
  
  
  
  ion-content {
    --ion-background-color: #d4d4d4c8 !important;
    padding-top: 130px;
  }
  
  ion-card {
   
    background-color:#ece9e7;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 450px;
    max-width: 95%;
    overflow: hidden;
    margin: 20px auto;
    padding: 15px;
    position: relative;
    margin-top: 100px;
  }
  
  
  ion-img {
    width: 100%;
    height: auto; 
    object-fit: cover; 
   
  }
  ion-card-title{
   
    margin-bottom: 10px;
    font-size: 30px;
    color:#140c0c;
    transform: translateY(25px);
  
  }
  h2.reviews-title{
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 25px;
    color:#140c0c;
  
    
  }
  .date{
    font-size: 19px;
    color: #333; 
  }
  
  ion-card-content p {
    font-size: 16px;
    color: #333; 
    line-height: 1.5; 
  }
  .comment-button {
    position: fixed; 
    bottom: 20px; 
    right: 15px;
    z-index: 1000; 
  }
  
  
  .custom-button:hover {
    transform: scale(1.05);
    --box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .date_painting{
    font-size: 27px;
    color: #630a07;
  }
  
  
  .comments-section {
  
    background: transparent !important;
  }
  
  .comment {
    background: #f5f2f2c5;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 15px;
    font-family: 'Georgia', serif;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  }
  
  .comment-header {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #2c110d;
    
  }
  
  
  .comment-header strong {
    font-size: 16px;
  }
  
  .comment-time {
    color: #777;
    font-size: 12px;
  }
  
  .comment-body {
    margin-top: 8px;
    font-size: 14px;
    color: #333;
  }
  
  
  .comments-header {
    color: #23479b;
    text-align: right;
    text-decoration: underline;
    margin-top: -5px; 
  }
  
  .add-comment {
    --background: #000;
    padding: 5px 10px;
    font-size: 25x; 
    height: 50px;
    font-size: 20px;
    color: #F5E1DA;
    padding: 5px 10px; 
    font-size: 12px; 
    width: 250px; 
    display: block; 
    margin: 0 auto; 
    text-align: center;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  add-comment:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 12px rgba(255, 224, 200, 0.4); 
  }
  .write-review{
   bottom: 30px;
   color: #000000;
  }
  
  
  .add-review-card {
    margin-top: 450px; 
    position: fixed;
    top: -50px; 
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 500px;
    background: rgba($color: #e3d9d9c4, $alpha: 1.0); 
    opacity: 1; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(46, 45, 45, 0.005);
    z-index: 200; 
    padding: 20px; 
    height: auto; 
  }
  
  ion-card-title {
    font-size: 24px; 
    font-weight: bold;
    margin-bottom: 10px; 
    color: #000000;
  }
  .add-review-card h3 {
    font-size: 20px;
    font-weight: bold; 
    margin-bottom: 10px; 
    color: #000000; 
  }
  ion-input{
    font-size: 20px; 
    font-weight: bold;
    color: #dedddd6f; 
  }
  
  .add-review-card ion-item {
    margin-bottom: 15px;
  }
  
  
  
  .close-button {
    padding: 0; 
    position: absolute;
  
    right: 10px;
    background: transparent;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: rgb(0, 0, 0); 
  }
  
  
  .add-review-card ion-card-title{
    color: rgb(37, 12, 12);
      
    left: 90px;
  
  }
  
  p.artist{
    padding-top: 10px;
  }
  .add-review-card ion-textarea,
  .add-review-card ion-input {
    color: rgb(94, 93, 93); 
  
  }
  
  
  .add-review-card ion-button {
    --background: #000; 
    --color: white;
    margin-top: 20px;
  }